/bootstrap/compiled.php
/app/config/local/
/app/config/demo/
/app/storage/views/
/app/storage/cache/
/bootstrap/start.php
/public_html/pdf/
/vendor


composer.phar

composer.lock

*.log
.env.*.php

.env.php
.DS_Store

Thumbs.db
